# lab5

Name: Madina Tulegenova

Student ID: 15BD02019

Email: madina98madiko.com@gmail.com

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)
from sklearn.metrics import roc_auc_score

In [19]:
d = pd.read_csv('2008.csv.bz2')

In [20]:
d.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,88.0,90.0,78.0,-6.0,-4.0,IND,BWI,515,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [22]:
cancelled = d[d.Cancelled == 1]

In [38]:
print("Full information about flight and it's cancellations: ")
cancelled.CancellationCode.describe()

Full information about flight and it's cancellations:

count     137434
unique         4
top            B
freq       54904
Name: CancellationCode, dtype: object

#1. the most frequent reason for flight cancellation was B(weather)

In [39]:
print("The distance traveled by plane: ")
distTraveledByPlane = d.Distance
distTraveledByPlane.describe()

The distance traveled by plane:

count    7.009728e+06
mean     7.263870e+02
std      5.621018e+02
min      1.100000e+01
25%      3.250000e+02
50%      5.810000e+02
75%      9.540000e+02
max      4.962000e+03
Name: Distance, dtype: float64

#2. the distance traveled by plane

average: 7.26;

min: 1.1;

max: 4.962;

In [36]:
print("Departure information: ")
d.Origin.describe()

Departure information:

count     7009728
unique        303
top           ATL
freq       414513
Name: Origin, dtype: object

In [34]:
len(d[d.Origin == 'ATL']), len(d[d.Origin == 'ATL']) / len(d)

(414513, 0.05913396354323591)

#4. The most departures was from Hartsfield Jackson airport in Atlana city.